/****** Object:  Database [mortuary_db]    Script Date: 3/7/2020 23:33:23 ******/
CREATE DATABASE [mortuary_db]  (EDITION = 'Free', SERVICE_OBJECTIVE = 'Free', MAXSIZE = 32 MB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillLines]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[Amount] [int] NOT NULL,
	[Price] [real] NOT NULL,
	[TaxesPercentage] [int] NOT NULL,
	[SubTotal] [real] NOT NULL,
	[BillId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BillLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[TotalToPay] [real] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
	[ProviderId] [int] NULL,
	[ClientId] [int] NULL,
 CONSTRAINT [PK_dbo.Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientProducts]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProducts](
	[Client_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClientProducts] PRIMARY KEY CLUSTERED 
(
	[Client_Id] ASC,
	[Product_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Document] [int] NULL,
	[Phone] [nvarchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[Address] [nvarchar](50) NULL,
	[PaymentAddress] [nvarchar](50) NULL,
	[VendorId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[SellPrice] [int] NOT NULL,
	[BuyPrice] [int] NOT NULL,
	[ClientTaxesPercentage] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Image] [varbinary](max) NULL,
	[ProviderId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Providers]    Script Date: 3/7/2020 23:33:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[BankAccountInformation] [nvarchar](100) NULL,
	[Notes] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Providers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'978b330c-063f-4526-b92c-f8c653d4cf4b', N'administrator')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'86663497-d6fd-40f9-9f69-fde1a0d12bd3', N'normal')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4e725282-4230-4eb3-a595-1f7bf6036979', N'86663497-d6fd-40f9-9f69-fde1a0d12bd3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6d622e1a-39e6-43c4-ac90-4779aa929ae3', N'86663497-d6fd-40f9-9f69-fde1a0d12bd3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b91bee1a-1eaf-4da1-ae40-f118db3f0243', N'86663497-d6fd-40f9-9f69-fde1a0d12bd3')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'2a9b6b41-76ea-4142-9677-e7581682469f', N'alvaroscelza@gmail.com', 1, N'ABEAu0ePGuXXH1mcLZtgXRjkI/DqVMT8PoEC1C2nWKaIPnibQjCFofjKRjgMSACcgA==', N'cac39fe8-955f-4b07-9908-50fd6244a94c', NULL, 0, 0, NULL, 0, 0, N'alvaroscelza@gmail.com', N'Alvaro Rodríguez Scelza')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'4e725282-4230-4eb3-a595-1f7bf6036979', N'red_pagos', 1, NULL, N'7843e0d8-2b59-488b-b6e0-eb506be7bf4f', NULL, 0, 0, NULL, 0, 0, N'red_pagos', N'red_pagos')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'67710fec-326b-4982-ac57-8a30d7ca65b2', N'jedgar1132@gmail.com', 1, N'AI9Cmn3wWgjooT++gA6aaTg7q9MxFp9ki3KcuYTllYY4jHqVw9kmlPl21dICLWxbsA==', N'ade65431-4e4b-407e-ae0e-b7ab19c4cb17', NULL, 0, 0, NULL, 1, 0, N'jedgar1132@gmail.com', N'jedgar1132@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [Name], [Document], [Phone], [BirthDate], [Address], [PaymentAddress], [VendorId]) VALUES (5, N'MARIA FLORENCIA RACEDO BERTINAT', 53770757, NULL, CAST(N'2002-09-04T00:00:00.000' AS DateTime), N'Dirección no definida', N'Dirección no definida', N'b91bee1a-1eaf-4da1-ae40-f118db3f0243')
INSERT [dbo].[Clients] ([Id], [Name], [Document], [Phone], [BirthDate], [Address], [PaymentAddress], [VendorId]) VALUES (6, N'MARTIN MULLER QUEIJO', 46574180, N'', CAST(N'1996-06-12T00:00:00.000' AS DateTime), N'Dirección no definida', N'Dirección no definida', N'b91bee1a-1eaf-4da1-ae40-f118db3f0243')
INSERT [dbo].[Clients] ([Id], [Name], [Document], [Phone], [BirthDate], [Address], [PaymentAddress], [VendorId]) VALUES (7, N'ALFREDO ACOSTA', 29698028, N'', CAST(N'1943-01-01T00:00:00.000' AS DateTime), N'18 DE JULIO Y DURAZNO', N'18 DE JULIO Y DURAZNO', N'b91bee1a-1eaf-4da1-ae40-f118db3f0243')
GO
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Code], [SellPrice], [BuyPrice], [ClientTaxesPercentage], [Description], [Image], [ProviderId]) VALUES (3, N'Ataud social', N'111', 29350, 0, 22, N'', 0x89504E470D0A1A0A0000000D4948445200000103000000C208030000007ACC575C00000030504C5445E0E0E0B4B4B4B5B5B5DEDEDEE2E2E2B1B1B1BBBBBBDBDBDBC0C0C0D7D7D7D4D4D4C9C9C9B8B8B8BDBDBDCECECEC1C1C18CE54FBD0000083C49444154789CED9D8B9AA4280C859180A8A0BEFFDB6E0E78AD9B546FF528D5, 1)
INSERT [dbo].[Products] ([Id], [Name], [Code], [SellPrice], [BuyPrice], [ClientTaxesPercentage], [Description], [Image], [ProviderId]) VALUES (4, N'Ataúd Social Liso', N'011', 21059, 0, 22, N'', 0x89504E470D0A1A0A0000000D4948445200000103000000C208030000007ACC575C00000030504C5445E0E0E0B4B4B4B5B5B5DEDEDEE2E2E2B1B1B1BBBBBBDBDBDBC0C0C0D7D7D7D4D4D4C9C9C9B8B8B8BDBDBDCECECEC1C1C18CE54FBD0000083C49444154789CED9D8B9AA4280C859180A8A0BEFFDB6E0E78AD9B546FF528D5, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Providers] ON 

INSERT [dbo].[Providers] ([Id], [Name], [CompanyName], [Address], [Phone], [BankAccountInformation], [Notes]) VALUES (1, N'Proveedor de prueba', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Providers] ([Id], [Name], [CompanyName], [Address], [Phone], [BankAccountInformation], [Notes]) VALUES (2, N'CETI', NULL, N'18 de Julio 963 Apto 003Montevideo  Uruguay', NULL, NULL, NULL)
INSERT [dbo].[Providers] ([Id], [Name], [CompanyName], [Address], [Phone], [BankAccountInformation], [Notes]) VALUES (3, N'JOSE HERNANDEZ', N'ACCESORIOS DOÑA ROSA', N'SOLIS MATAOJO', N'+59892736211', N'BROU 534867-00001', NULL)
SET IDENTITY_INSERT [dbo].[Providers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/7/2020 23:33:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/7/2020 23:33:38 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_BillId] ON [dbo].[BillLines]
(
	[BillId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[BillLines]
(
	[ProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_ClientId] ON [dbo].[Bills]
(
	[ClientId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProviderId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_ProviderId] ON [dbo].[Bills]
(
	[ProviderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Client_Id]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_Client_Id] ON [dbo].[ClientProducts]
(
	[Client_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ClientProducts]
(
	[Product_Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VendorId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_VendorId] ON [dbo].[Clients]
(
	[VendorId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProviderId]    Script Date: 3/7/2020 23:33:38 ******/
CREATE NONCLUSTERED INDEX [IX_ProviderId] ON [dbo].[Products]
(
	[ProviderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BillLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BillLines_dbo.Bills_Bill_Id] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillLines] CHECK CONSTRAINT [FK_dbo.BillLines_dbo.Bills_Bill_Id]
GO
ALTER TABLE [dbo].[BillLines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BillLines_dbo.Products_Product_Id] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillLines] CHECK CONSTRAINT [FK_dbo.BillLines_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bills_dbo.Clients_Client_Id] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_dbo.Bills_dbo.Clients_Client_Id]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bills_dbo.Providers_Provider_Id] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Providers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_dbo.Bills_dbo.Providers_Provider_Id]
GO
ALTER TABLE [dbo].[ClientProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClientProducts_dbo.Clients_Client_Id] FOREIGN KEY([Client_Id])
REFERENCES [dbo].[Clients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientProducts] CHECK CONSTRAINT [FK_dbo.ClientProducts_dbo.Clients_Client_Id]
GO
ALTER TABLE [dbo].[ClientProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClientProducts_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientProducts] CHECK CONSTRAINT [FK_dbo.ClientProducts_dbo.Products_Product_Id]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Clients_dbo.AspNetUsers_Vendor_Id] FOREIGN KEY([VendorId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_dbo.Clients_dbo.AspNetUsers_Vendor_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Providers_Provider_Id] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Providers] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Providers_Provider_Id]
GO
